$secondary-color: #a0a0a0;

.post {
  margin-top: 120px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  .post-header {
    display: flex;
    justify-content: flex-end;
    .button-top {
      background-color: #5c6bc0;
      color: white;
      height: 35px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .date {
    color: $secondary-color;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 30px;
  }
  .post-main {
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    h1 {
      font-style: italic;
      margin-bottom: 35px;
    }
    img {
      margin: 0 auto;
      display: block;
      margin-bottom: 50px;
      min-width: 80%;
      @media screen and (min-width: 480px) {
        float: left;
        min-width: 0;
        margin-bottom: 0;
        padding-right: 10px;
      }
    }
    .main-text {
      margin-bottom: 50px;
    }
    .special {
      border-left: 1px solid hsl(0, 0%, 91%);
      color: $secondary-color;
      padding-left: 10px;
      display: block;
      margin: 10px 0;
      font-size: 20px;
    }
    .disqusion {
      max-width: 600px;
      margin: auto;
      margin-top: 50px;

      .comments {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        span {
          border-bottom: 1px solid #ebeef0;
          color: #9aaab1;
          width: 50%;
          padding-bottom: 5px;
          cursor: pointer;
          &:first-child {
            border-bottom: solid 3px #5c6bc0;
            font-weight: bold;
          }
        }
      }
      input {
        margin-top: 40px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        margin-bottom: 50px;
        width: 100%;
      }
    }
  }
}
