$secondary-color: #a0a0a0;

.post {
  margin-top: 65px;
  background-color: white;
  .post-header {
    display: flex;
    justify-content: flex-end;
    .button-top {
      background-color: #5c6bc0;
      color: white;
      height: 35px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .date {
    color: $secondary-color;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 30px;
  }
  .post-main {
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    h1 {
      font-style: italic;
      margin-bottom: 35px;
    }
    img {
      margin: 0 auto;
      display: block;
      margin-bottom: 50px;
      min-width: 80%;
      @media screen and (min-width: 480px) {
        float: left;
        min-width: 0;
        margin-bottom: 0;
        padding-right: 10px;
      }
    }
    .special {
      border-left: 1px solid hsl(0, 0%, 91%);
      color: $secondary-color;
      padding-left: 10px;
      display: block;
      margin: 10px 0;
    }
  }
}
