@font-face {
  font-family: myFont;
  src: url(./assets/font/font.rtf);
}

body {
  margin: 0;
  font-family: myFont;
  /* font-family: "Times New Roman", Times, serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
